body { background:#fff !important;   }
td,th{padding:0;}
.tishi{position: absolute;top:0px;left:0;right:0;bottom: 0; background: #f1f1f1; z-index: 199999;padding:20px;line-height:90vh; text-align: center;font-size:30px;}
/*兼容手机强制横 屏走势图*/
@media screen and (orientation: portrait) {
html ,body {width: 100%;height: 100%;overflow: hidden;}
#print {position: relative;}
}

@media screen and (orientation: landscape) {
html ,body {width: 100%;height: 100%;}
#print {position: relative;top: 0;left: 0;width: 100%;height: 100%;}
}
				
				
/*PC  TD 列宽控制 transform:rotate(90deg)*/
colgroup{}

.rbline1 {border-right: 3px solid #999 !important;}
.tanchu{position: absolute;top:40%;left:10%;right:10%; background: #f1f1f1; z-index: 99999;padding:20px;display: flex;}
.tanchu .tBtn{ padding:6px 12px; font-size:14px; color:#fff; text-align: center; background:#0066bb;border-radius:3px; cursor:pointer; margin:0 10px; flex: 1;}

.rBtn{  position:fixed; top:8px ; right:0;  z-index:999; }
.rBtn ul li{ padding:6px 8px; font-size:14px; color:#666; background:#fff;border-radius:3px; cursor:pointer; margin-right:8px; float:left;}

.bBtn{  position:fixed; bottom:8px ; right:0;  z-index:999; }
.bBtn1{ border-radius: 50%; background: rgba(255,255,255,0.6); text-align: center;height: 40px;line-height: 40px;width:40px;margin:0 10px 10px 0;border:2px solid #ccc}
.bBtn1 i{font-size:40px; color: #666;margin-top:7px; }
.bBtntr{transform:rotate(180deg);}
/*头部*/
.top{left:0; top:0; right:0; height:50px; position:absolute; background:#2c6bb2}
.topname{ float:left;  width:170px; text-align:center; color:#fff; background: url(../pic/icon.png) -268px -164px #075ba2; line-height:50px;}

/*期数*/

.diqu{  position:fixed; top:8px ; left:185px;  z-index:999; }
.diqu ul li{ padding:6px 12px; font-size:14px; color:#fff; background:#075ba2;border-radius:3px; cursor:pointer; margin-right:15px; float:left;}
.diqu ul li.on{ background:#fff !important ; color:#333;}
.diqu p{ display:none;}

/*切换代码*/
.diqu1{ position:fixed; top:8px ; right:60px ;  z-index:999;}
.diqu1 ul li{padding:6px 12px; font-size:14px; color:#fff; background:#075ba2;border-radius:3px; cursor:pointer; margin-right:15px; float:left;}
.diqu1 ul li.on{ background:#fff !important ; color:#333;}
.diqu1 p{ display:none;}

/*切换图表*/
.diqu2{ position:fixed; top:8px ; right:60px ; font-size:14px; z-index:999; width: 63px;}
.diqu2 ul{margin-top:5px; padding:5px;z-index:999;width:56px;}
.diqu2 ul li{float:left;font-size:14px;line-height:25px;color:#999;height:28px; text-align:center;background:#fff; border-radius:10px; margin:6px 6px 0 0 ;cursor:pointer; width:55px;padding:0;}
.diqu2 ul li:hover{background:#fff; color:#666}
.diqu2 p{ display:block;color:#666;line-height:30px; padding:2px 10px 2px 10px; cursor:pointer;}

.dqtan2{display:none;background:#2c6bb2; border-radius:0 0 10px 10px;overflow: auto;}
.dqtanbg2{background:url(../pic/icon.png) -230px -16px #fff; border-radius: 8px; }
.dqtanbgd2{background:url(../pic/icon.png) -230px 6px #fff;}





/*表格布局*/
.t-head{position:absolute;left:170px; top:50px; z-index:9;background: #f5f5f5 ;right:17px;border-bottom:2px solid #333}
.t-content{white-space: normal;position:absolute;left:170px;top:123px;right:0; bottom:162px; overflow-x: scroll;overflow-y: scroll;min-height: 0; }
.t-bottom{ position:absolute;bottom:34px; left:170px;right:17px; ;background: #fff ;}

.l-top{ position:absolute;left:0; top:50px; width:170px;}

.l-center{ position:absolute;left:0; top:123px; bottom:179px; overflow:hidden; width:170px;border-bottom:2px solid #999; border-right:2px solid #999; }
.l-bottom{ position:absolute;left:0; bottom:34px;width:170px;border-right:2px solid #999 }
.fline{   height: 31px!important}
.t-h-wrap{ width:100%;overflow: hidden;}
.t-b-wrap{ width:100%;overflow: hidden;}


/*不动的表头*/



.t-zebra{table-layout:fixed;font-size:14px;color:#aaa;width: 100%;max-width:  none;border-spacing: 0px;empty-cells: show;border-width: 0px;outline: 0px none;border-collapse: collapse;}
.t-zebra th { border-left: 1px solid #999;font-size:15px; font-weight:normal; background:#f5f5f5; color:#333; text-align:center;}

.t-zebra .ltop{ border-right: 2px solid #999; border-bottom: 2px solid #000;height:71px;line-height:71px;}
.t-zebra .ltop2{height:71px;}
.t-zebra .ltop3{line-height:40px;height:40px;}
.t-zebra .ltop4{width:56px;}
.t-zebra .ltoptxt{font-size:14px;}

.t-zebra tr td:first-child,th:first-child{border-left-width: 0;}
.t-zebra td{text-align:center;  color:#000;font-family:Geneva, sans-serif; border-top: 1px solid #999;border-left: 1px solid #999; line-height:30px;    padding: 0;}



/*左-中-大表格*/
.l-zebra{font-size:14px;color:#aaa;table-layout: fixed;width: 100%;max-width: none;border-spacing: 0px;empty-cells: show;border-width: 0px;outline: 0px none;border-collapse: collapse;}
.l-zebra td{text-align:center;  width:30px;font-family:Geneva, sans-serif;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc; line-height:31px;height:31px;}
.l-zebra td.l2{ line-height:59px;}



/*右-中-大表格*/
.zebra{font-size:14px;color:#aaa;table-layout: fixed;width: 100%;max-width:  none;border-spacing: 0px;empty-cells: show;border-width: 0px;outline: 0px none;border-collapse: collapse;}
.zebra th { font-size:15px; font-weight:normal; line-height:30px;background:#f5f5f5; color:#333; text-align:center;}
.zebra tr td:first-child{border-left-width: 0;}
.zebra td{text-align:center; font-family:Geneva, sans-serif; border-bottom: 1px solid #ccc;border-left: 1px solid #ccc; line-height:31px;height:31px;}

.qh{width:15px !important;color:#333}
.kjhm{ color:#f00; }
.bg1{ background:#f5f5f5; }
.bg2{ background:#eee;}
.bg3{ background:#ffffeb;}
.bg4{ background:#d3edfe;}
.bg5{ background:#d5fcb9;}
.bg6{ background:#fff6c7; }
.select-yes{ padding:0px;background:#0084e8;color:#fff;}
.wai{ color:#333;}
.charball{background:#fff6c7;}



.bball:before, .gball:before, .rball:before, .bball1:before, .gball1:before,.rball1:before, .zball1:before {content: "";position: absolute;top: 1%;left: 5%;width: 90%;height: 90%;background: -webkit-radial-gradient(50% 0px, circle, rgba(255, 255, 255, 0.66),rgba(255, 255, 255, 0) 58%);}
/*双数号码球背景色*/
.gball{margin:0 1px; padding:4px 5px ; min-width:15px; border-radius:50%; background:#468128; color:#fff;position: relative;box-shadow: 2px 2px 5px #888888;-webkit-transform: translateZ(10px);}
.rball{margin:0 1px; padding:4px 5px ; min-width:15px; border-radius:50%; background:#a00; color:#fff;position: relative;box-shadow: 2px 2px 5px #888888;-webkit-transform: translateZ(10px);}
.bball{ margin:0 1px; padding:4px 5px; min-width:15px; border-radius:50%; background:#075ba2; color:#fff;position: relative;box-shadow: 2px 2px 5px #888888;-webkit-transform: translateZ(10px);}
/*单数号码球背景色*/
.gball1 {margin: 0 1px;padding: 3px 8px;min-width: 15px;border-radius: 30px;background: #468128;color: #fff;font-size: 14px;-webkit-transform: translateZ(10px);position: relative;box-shadow: 2px 2px 5px #888888;}
.rball1 {margin: 0 1px;padding: 3px 8px;min-width: 15px;border-radius: 30px;background: #a00;color: #fff;font-size: 14px;-webkit-transform: translateZ(10px);position: relative;box-shadow: 2px 2px 5px #888888;}
.bball1 {margin: 0 1px;padding: 3px 8px;min-width: 15px;border-radius: 30px;background: #075ba2;color: #fff;font-size: 14px;-webkit-transform: translateZ(10px);position: relative;box-shadow: 2px 2px 5px #888888;}
.zball1 {margin: 0 1px;padding: 3px 8px;min-width: 15px;border-radius: 30px;background: #9735ca;color: #fff;font-size: 14px;-webkit-transform: translateZ(10px);position: relative;box-shadow: 2px 2px 5px #888888;}

.rbg{margin:0 1px; padding:0px; min-width:12px;background:#880701; color:#fff; -webkit-transform: translateZ(10px);}
.lbg{  margin:0 1px; padding:0px; min-width:12px;   background:#0a6c91; color:#fff;-webkit-transform: translateZ(10px);}
.gbg{ margin:0 1px; padding:0px; min-width:12px; background:#009d41; color:#fff;-webkit-transform: translateZ(10px);}
.zbg{ margin:0 1px; padding:0px; min-width:12px; background:#9735ca; color:#fff;-webkit-transform: translateZ(10px);}

/*按钮*/
.btn{  background:#333; color:#fff; border-radius:5px; padding:2px 8px;  margin-right:2px;font-size:15px; }



/*适应 手机*/
@media (min-width:300px) and (max-width:960px) {
div,span,td,{font-size:13px;}

/*手机 TD列宽 控制 */
colgroup{}
/* colgroup col{width:50px}
colgroup col{width:28px} */


.zebra,.t-zebra td{ font-size:13px;}
.t-zebra .ltop4{width:40px;}

span{padding: 2px 0px;}
.topname{width:140px; font-size:14px; }
.chooseqs{margin-left:5px;padding: 10px 0;}
.chooseqs ul li{ background:#0f4675;  margin-right: 5px; float:left;font-size:12px; padding:6px 5px;}

.bukong1,.bukong2{ display:none;}
.t-head{right:0;left:120px;}
.t-bottom {padding-right: 0; border-top:2px solid #333;left:120px;right:0}
.t-content{bottom:179px;left:120px;}
.l-center{bottom: 179px;border-bottom: 0;width:120px;}
.l-bottom{border-top:2px solid #333;padding-top:0;width:120px}
.l-top{width:120px;  text-align:center}

.l-zebra td{line-height:26px;height:26px;}
.l-zebra td.qh{font-size:12px;width:15px !important}
.l-zebra td.kjhm{font-size:12px;}
.zebra td{text-align:center; font-family:Geneva, sans-serif; border-bottom: 1px solid #ccc;border-left: 1px solid #ccc; line-height:26px;height:26px;}
/*期数*/
.diqu{ position:fixed; top:8px ; left:150px; font-size:14px; z-index:999; }
.diqu ul{margin-top:5px; padding:5px;z-index:999;width:76px;}
.diqu ul li{float:left;font-size:14px;line-height:25px;color:#999;height:28px; text-align:center;background:#fff; border-radius:10px; margin:6px 6px 0 0 ;cursor:pointer; width:75px;padding:0;}
.diqu ul li:hover{background:#fff; color:#666}
.diqu p{ display:block;color:#666;line-height:30px; padding:2px 38px 2px 8px; cursor:pointer;}

.diqu1{ position:fixed; top:8px ; right:60px ; font-size:14px; z-index:999; width: 63px;}
.diqu1 ul{margin-top:5px; padding:5px;z-index:999;width:56px;}
.diqu1 ul li{float:left;font-size:14px;line-height:25px;color:#999;height:28px; text-align:center;background:#fff; border-radius:10px; margin:6px 6px 0 0 ;cursor:pointer; width:55px;padding:0;}
.diqu1 ul li:hover{background:#fff; color:#666}
.diqu1 p{ display:block;color:#666;line-height:30px; padding:2px 10px 2px 10px; cursor:pointer;}

.dqtan1{display:none;background:#2c6bb2; border-radius:0 0 10px 10px;overflow: auto;}
.dqtanbg1{background:url(../pic/icon.png) -230px -16px #fff; border-radius: 8px; }
.dqtanbgd1{background:url(../pic/icon.png) -230px 6px #fff;}


.dqtan{display:none;background:#2c6bb2; border-radius:0 0 10px 10px;overflow: auto;}
.dqtanbg{background:url(../pic/icon.png) -230px -16px #fff; border-radius: 8px; width:40px;}
.dqtanbgd{background:url(../pic/icon.png) -230px 6px #fff;}



}